body {
    background: #F5F5F5;
}

h1 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #505050;

}

h2 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #505050;
}

h3 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #505050;
}

h4 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #505050;
}

h5 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #505050;
}

h6 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #505050;
}

p {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #505050;
}


ol {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #7E8389;
}

ul {
    list-style: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #7E8389;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 1px solid #BF9990;
}

a:link {
    color: #BF9990;
}

a:hover {
    color: #F2CDC4;
}

a:visited {
    color: #E7DECB;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

#logo {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 80px;
    color: #505050;
    text-align: center;
    background: #F5F5F5;
}

nav {
    display: flex;
    background-color: #BF9990;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links a {
    color: #E7DECB;
    text-decoration: none;
}

.nav_links a:hover {
    color: #F2CDC4;
}

#introduction {
    display: flex;
}

#headshot {
    width: 100%;
    float: left;
    padding: 5px;
}

#description {
    padding: 0px 50px;
}

#cello {
    float: right;
    padding-top: 30px;
}

#designProjects {
    text-align: center;
}

#designPictures {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#gameDevProjects {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #505050;
    text-align: center;
    padding: 0px 50px;
    width: 100%;
}

#unity {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

#musicProjects {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #505050;
    text-align: center;
    padding: 0px 50px;
    width: 100%;
}

#aboutMePicture {
    float: left;
    width: 100%;
}

#gamingPicture {
    padding: 0px 50px;
    float: right;
}

#aboutMeDescription {
    padding: 0px 5rem;
}

#resume {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 200px;
}

#gamingPosters {
    width: 300px;
    display: flex;
    padding: 10px;
}

#gamingGraphics {
    width: 300px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#kft {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #505050;
    text-align: center;
    padding: 0px 50px;
    width: 100%;
}

#staffPicks {
    width: 100%;
    display: flex;
    padding-top: 50px;
    flex-flow: row;
    justify-content: space-evenly;
}




.indexContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 200px 50px;
}

.projectsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 200px 30px;
}

.aboutMeContainer {
    display: flex;
    align-items: center;
    padding: 200px 30px;
}

.extrasContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 200px 30px;
}


@media screen and (max-width: 1900px) {


    .indexContainer {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 600px) {

    #introduction {
        flex-flow: column;
    }

    .indexContainer {
        flex-flow: column;
    }

    .aboutMeContainer {
        flex-flow: column;
    }

    .extrasContainer {
        flex-flow: column;
    }

    #designPictures {
        flex-flow: column;
    }

    #unity {
        flex-flow: column;
    }

    #gamingPosters {
        flex-flow: column;
    }

    #gamingGraphics {
        flex-flow: column;
    }

    #staffPicks {
        flex-flow: column;
    }

    #resume {
        width: auto;
        height: auto;
    }

    /* #gamingPicture {
        width: 100%;
    } */

    .nav_links a {
        font-size: 15px;
    }


}