body {
    background: #F5F5F5;
}


.name {
    margin: auto;
}

h1 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #505050;

}

h2 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #505050;
}

h3 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #505050;
}

h4 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #505050;
}

h5 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #505050;
}

h6 {
    font-family: 'Gideon Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #505050;
}

p {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #505050;
}

ol {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #7E8389;
}

ul {
    list-style: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #7E8389;
}

hr {
    border: 1px solid #BF9990;
}

a:link {
    color: #BF9990;
}

/* mouse over link */
a:hover {
    color: #F2CDC4;
}

/* visited link */
a:visited {
    color: #E7DECB;
}

nav {
    background-color: #BF9990;
    padding: .25em;
    position: sticky;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1900px) {

    .flex-container {
        flex-flow: row;
    }
}

@media (max-width: 600px) {

    .flex-container {
        flex-flow: column;
    }
}