html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #F5F5F5;
}

img {
    color: aqua;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #E7DECB;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.heart {
    display: flex;
    justify-content: center;
    padding: 2em;
}

#numLikes {
    font-size: 20px;
    font-family: 'Gideon Roman';
    color: #505050;
    align-items: center;
}

header {
    width: 100%;
    font-size: 30px;
    font-family: 'Gideon Roman';
    color: #505050;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}

.quotes {
    padding: 20px 50px;
    min-height: 200px;
}

.quote-text {
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'PT Serif';
    color: #505050;
}

.controls {
    width: 100%;
    padding: 20px 50px;
}

.button {
    display: block;
    color: #E7DECB;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Gideon Roman';
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.like {
    background-color: #BF9990;
    text-decoration: none;
}

.like:hover {
    background-color: #F2CDC4;
}

.new-quote {
    background-color: #4A2B0F;
    margin-bottom: 15px;
}

.new-quote:hover {
    background-color: #6d3b0e;
}

.new-quote:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

@media screen and (max-width: 600px) {
    .app {
        width: 100%;
    }

    .quote-text {
        font-size: 18px;
    }
}